<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>ChemAlive</title>
  </head>
  <body
    style="  text-align: center;
                    color: #717070;
                    font-style: bold;"
  >
    <img
      src="https://firebasestorage.googleapis.com/v0/b/chemalive-891ab.appspot.com/o/logo_transparent.png?alt=media&token=ff614cc3-1afb-4e76-a1b0-ba55768ab73c"
      alt="Logo"
      style="height:100px;width:300px;"
    />
    <p style="font-size:20px; font-weight:bold;">
      <span>
        <a
          href=""
          style="color: #1f5cce; font-weight:bold; text-decoration:none !important"
          >{{ name }}</a
        >
      </span>
      has sent an email from
      <span style="color: #1f5cce; font-weight:bold;">{{ email }}</span>
      with the following message:
    </p>
    <p style="font-size:16px;">
      {{ message }}
    </p>
  </body>
</html>
