.redirect-modal-container {
    position: absolute;
    display: flex;
    height: 100%;
    width: 50%;
    align-items: center;
    justify-content: center;
    color: #6ec133;
    background: rgba(0, 0, 0, 0.85);
    z-index: 1;
    font-size: 30px;
    text-align: center;
    line-height: 1.5;
}